@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 210 100% 35%;
  --primary-foreground: 0 0% 100%;
}

.dark {
  --primary: 210 100% 50%;
  --primary-foreground: 0 0% 100%;
}

